
@import "config";
@import "generales";
@import "partials/_envelope";
@import "partials/_cake";

body.front{
  margin: 0;
  color: $color-font;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 16px;
  background: url($ruta-images + 'header-top.jpg') repeat-x #fff;
  padding-top: 10px;

  a{
    color: $color-corp;
    @include transition(color $default-ease ease);
    &:hover{
      color: $color-corp-dark;
      text-decoration: none;
    }
  }

}

// OVERWRITES
.breadcrumb{
  padding: 0 0;
  background-color: transparent;
}
.panel-default > .panel-heading {
  background-color: transparent;
}


// main...
.site{

  // cabecera
  @import 'partials/_header';

  .pic-container{
    width:100%;
    max-height: 600px;
  }


  // footer
  @import 'partials/_footer';


}

@import "_bootstrap-ow";
@import "media";


