
$traditionSpeed : 1s;// 2s

section{
  &.album {
    margin: 50px auto;
    position: relative;
    width:275px;
    height: 350px;
    perspective: 1000px;

    div{
      cursor: pointer;
      position:absolute;
      width: inherit;
      height: inherit;
      text-align: center;
      box-shadow: 5px 7px 10px rgba(0,0,0,0.3);
      padding: 10px;
      /*
      &:after{
        content: 'next';
        font-size: x-small;
        position: absolute;
        bottom: 4px;
        right: 4px;
        color: $color-grey;
      }
      */
      .album-pager{
        font-size: small;
        position: absolute;
        color: $color-grey-dark;
        line-height: 0px;
        bottom: 12px;
        right: 6px;
      }
    }
    div:nth-child(1){//portada
      background: #fce5cd;
      transform-origin: left center;
      transition: $traditionSpeed;
      line-height: 350px;
      height:350px;
      width:inherit;
      h1{
        // font-size:  calc(1vw + 1vh);
        font-size: 20px;
      }
      img{
        margin: 0 auto;
        position: relative;
      }
      // z-index:3;
    }
    div:nth-child(n+2){
      background: $color-grey-lightest;
      transform-origin: left center;
      transition: $traditionSpeed;
      height:inherit;
      // z-index:2;
    }
    div.pag_clicked{
      transform: rotateY(-180deg);
      background: $color-grey;
    }

  }
}
.ul-foto{
  list-style-type: none;
  text-align: center;
  .li-foto{
    display: inline-block;
    margin: 1em;
    box-shadow: 2px 2px 5px rgba(119,119,119,0.5);
  }
}
