
/*
#envelope {
  background: $color-sunset;
  width: 300px;
  height: 200px;
  position: relative;
  // left: 50%;
  // top: 50%;
  // margin-left: -150px;
  margin:12em auto 0 auto;
  //border-bottom-left-radius: 20px;
  //border-bottom-right-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  cursor: pointer;
}

.letter-content{
  position: relative;
  top: 50px;
  left: 65px;
}

#lid {
  position: relative;
  top: -150px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 150px 150px 150px;
  border-color: transparent transparent $color-sunset transparent;

}

#letter {
  position: relative;
  background: $color-grey-lightest;
  top: -150px;
  width: 280px;
  height: 200px;
  left: 10px;
  top: -220px;
  animation: out 5s infinite linear;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  overflow:hidden;
}

#left-corner {
  position: relative;
  top: -315px;
  left: 10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 150px 0 0 250px;
  border-color: transparent transparent transparent $color-sunset;

}

#right-corner {
  position: relative;
  top: -470px;
  left: 50px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 150px 250px;
  border-color: transparent transparent $color-sunset transparent;
}

@keyframes out {
  0% {top: -220px;}
  25% {top: -200px;}
  50% {top: -220px;}
  75% {top: -200px;}
}
*/
/* original ^ */
#envelope {
  background: $color-sunset;
  width: 260px;
  height: 170px;
  position: relative;
  // left: 50%;
  // top: 50%;
  // margin-left: -150px;
  margin:10em auto 0 auto;
  //border-bottom-left-radius: 20px;
  //border-bottom-right-radius: 20px;
  box-shadow: 5px 7px 10px rgba(0,0,0,0.5);
  cursor: pointer;
}

.letter-content{
  position: relative;
  top: 50px;
  // left: 65px;
}

#lid {
  position: relative;
  top: -130px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 130px 130px 130px;
  border-color: transparent transparent $color-sunset transparent;

}

#letter {
  position: relative;
  background: $color-grey-lightest;
  top: -150px;
  width: 240px;
  height: 200px;
  left: 10px;
  top: -220px;
  animation: out 5s infinite linear;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  overflow:hidden;
  text-align: center;
}

#left-corner {
  position: relative;
  top: -315px;
  left: 10px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 150px 0 0 250px;
  border-color: transparent transparent transparent $color-sunset;

}

#right-corner {
  position: relative;
  top: -470px;
  left: 6px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 150px 250px;
  border-color: transparent transparent $color-sunset transparent;
}

@keyframes out {
  0% {top: -220px;}
  25% {top: -200px;}
  50% {top: -220px;}
  75% {top: -200px;}
}
